pkgbase = cni-plugins-bin
	pkgdesc = Container Networking Interface (CNI) Plugins
	pkgver = 1.9.0
	pkgrel = 2
	url = https://www.cni.dev/
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv7l
	license = Apache
	provides = cni-plugins=1.9.0
	conflicts = cni-plugins
	source = cni-plugins-bin-1.9.0-amd64::https://github.com/containernetworking/plugins/releases/download/v1.9.0/cni-plugins-linux-amd64-v1.9.0.tgz
	b2sums = 5d37f6c1b121f003881b838aa8df1d4cbc0ffb9722381780cff436a254c8e25c41e45af028555fecfa3471cd32a211ee089ff8456d68f7a9a011f87a0472b098

pkgname = cni-plugins-bin
