pkgbase = kubeadm-bin
	pkgdesc = Kubernetes.io kubeadm binary
	pkgver = 1.34.2
	pkgrel = 2
	url = http://kubernetes.io
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	depends = kubelet-bin
	depends = conntrack-tools
	depends = iptables
	depends = iproute2
	depends = util-linux
	depends = crictl
	provides = kubeadm
	conflicts = kubeadm
	source = 10-kubeadm.conf
	source = kubeadm-bin-1.34.2-amd64::https://dl.k8s.io/release/v1.34.2/bin/linux/amd64/kubeadm
	b2sums = 074744d327227c32661befcff7651209438090fbd75890ad3b5a32ada1fbdf8901dbd132c7093ed353901f1ea7505c97089a5a89a104f57cb7f53a342eecc7e8
	b2sums = 977b552be0189514beaaae8df9051deb72a6a07d5c61738bb55004b8f0bb8ec3ade47791a384a981bcf1a686574f1a33cc527a09f48f63e51eeaadb7d501a724

pkgname = kubeadm-bin
