pkgbase = kubeadm-bin
	pkgdesc = Kubernetes.io kubeadm binary
	pkgver = 1.32.4
	pkgrel = 2
	url = http://kubernetes.io
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	depends = kubelet-bin
	depends = conntrack-tools
	depends = iptables
	depends = iproute2
	depends = util-linux
	depends = crictl
	provides = kubeadm
	conflicts = kubeadm
	source = 10-kubeadm.conf
	source = kubeadm-bin-1.32.4-amd64::https://dl.k8s.io/release/v1.32.4/bin/linux/amd64/kubeadm
	b2sums = 074744d327227c32661befcff7651209438090fbd75890ad3b5a32ada1fbdf8901dbd132c7093ed353901f1ea7505c97089a5a89a104f57cb7f53a342eecc7e8
	b2sums = ea1a62c810a7d15e7ea5374c000668901ecccb69ea5e475ae015683798defb0d1d8ed3236f3f2f80c2dc6cc06fdf3be2a228aa1365331850530182542f1716ed

pkgname = kubeadm-bin
