pkgbase = python-cdsapi
	pkgdesc = Copernicus Common Data Store API (was Climate Data Store)
	pkgver = 0.7.6
	pkgrel = 1
	url = https://github.com/ecmwf/cdsapi
	arch = x86_64
	arch = armv7l
	arch = armv7h
	arch = aarch64
	license = apache
	makedepends = python-setuptools
	depends = python-tqdm
	depends = python-requests
	source = https://files.pythonhosted.org/packages/source/c/cdsapi/cdsapi-0.7.6.tar.gz
	b2sums = 116fcb084f4b4ebae8943733a3e0ca3f88dd860881b4d13d93df854c6471b628136bd8f6ab3b90773785d6312609e8f84924f85a6d38f5604edbcee034927127

pkgname = python-cdsapi
